APP_ENV=local
KTMS_CORS_ORIGINS=http://www.kcastle.net,https://www.kcastle.net

KTMS_DB_HOST=
KTMS_DB_PORT=5432
KTMS_DB_NAME=
KTMS_DB_USER=
KTMS_DB_PASSWORD=
KTMS_DB_SCHEMA=ktms
KTMS_DEFAULT_TENANT_CODE=
KTMS_DEFAULT_COMPANY_CODE=

KTMS_API_BASE_URL=
KTMS_ENABLE_API_IN_TESTS=false
KTMS_NAVER_MAP_CLIENT_ID=

KTMS_FIREBASE_PROJECT_NUMBER=
KTMS_FIREBASE_MESSAGING_SENDER_ID=
KTMS_FIREBASE_PROJECT_ID=
KTMS_FIREBASE_STORAGE_BUCKET=
KTMS_FIREBASE_AUTH_DOMAIN=
KTMS_FIREBASE_WEB_API_KEY=
KTMS_FIREBASE_WEB_APP_ID=
KTMS_FIREBASE_ANDROID_API_KEY=
KTMS_FIREBASE_ANDROID_APP_ID=
KTMS_FIREBASE_ANDROID_PACKAGE_NAME=com.kcastle.ktms_frontend
KTMS_FIREBASE_ANDROID_CLIENT_ID=
KTMS_FIREBASE_ANDROID_CERTIFICATE_HASH=
KTMS_FIREBASE_IOS_API_KEY=
KTMS_FIREBASE_IOS_APP_ID=
KTMS_FIREBASE_IOS_CLIENT_ID=
KTMS_FIREBASE_IOS_REVERSED_CLIENT_ID=
KTMS_FIREBASE_IOS_BUNDLE_ID=com.kcastle.ktmsFrontend
